body{
    background-color: white;   
    margin: 0;    
    text-align: center;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;       
}
hr{
   border-style: none;     
   border-top-style: dotted;     
   border-width: 5px;     
   height: 0px;
   border-color: gray;
   width: 50px;
   text-align: center;
}
h1{
    color: #4D4C7D;
    margin: 0 auto 0 auto ;
    width: 30%;
}

h1:hover{
    color: #363062;
}

h3{
    color: #4D4C7D;
}



/************************class selectors******************/
.circular {
    border-radius: 100%;
}

.top-container{
    background-color: #E9D5DA;  
    position:relative; 
    padding-top: 100px;
}

.middle-container{
    background-color: red;   
    width: 200px;
    height: 200px;
}

.bottom-container{
    background-color: blue; 
    width: 200px;
    height: 200px;  
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px ;
}

.bottom-cloud{
    position: absolute;
    left:300px;
    bottom: 300px;
}