body{
    background-color: #E9D5DA;                 
}
hr{
   border-style: none;     
   border-top-style: dotted;     
   border-width: 5px;     
   height: 0px;
   border-color: gray;
   width: 50px;
   text-align: center;
}
h1{
    color: #4D4C7D;
}

h1:hover{
    color: #363062;
}

h3{
    color: #4D4C7D;
}

/************************class selectors******************/
.circular {
    border-radius: 100%;
}